body {
  padding: 0;
  margin:0px;
  font-family: 'Montserrat', sans-serif !important;
  background:white;
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

::placeholder {
  color:#ABA8A8
}
/* body::-webkit-scrollbar {
  display: none;
} */

.rec-carousel{
  height: calc(100vh - 320px) !important;
}

@media (max-width:600px){
  .rec-carousel{
    height: calc(100vh - 330px) !important;
  }
}

.rec-carousel-item-visible{
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  height: calc(100vh - 320px) !important;
}

/* .rec-carousel .rec-carousel .rec-carousel-item-5{
  height: 100vh !important;
} */

.rec-carousel-item-visible::-webkit-scrollbar{
  width:6px;
}

.rec-carousel-item-visible::-webkit-scrollbar-thumb{
  background: #888;
  border-radius:12px
}

div:focus{
  outline:none !important;
}

button:focus{
  outline:none !important;
}

input:focus{
  outline:none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}